<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1"> <link rel="stylesheet" href="/s/s.css">
<title>httpdummy</title>
</head>
<body>
<pre>
Host: {{ .host }}
Remote addr: {{ .RemoteAddr}}
IP: {{ .IP}}
</pre>


<a class=comment href="/routes">routes</a>
</body>
</html>
